*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca";
    font-weight: 400;
    display: grid; 
    min-height: 100vh;
}

@font-face {
    font-family: "Lexend Deca";
    src: url("LexendDeca-VariableFont_wght.ttf");
}

main {
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e';
    gap: 10px;
    width: 60%;
    height: 75%;
    margin: auto;
}

main div {
    text-align: center;
    border-radius: 5px;
    padding: auto; 
}

.item-a {
    background-color: #EB5020;
    grid-area: a;
}

.item-b {
    background-color: #FFA401;
    grid-area: b;
}

.item-c {
    background-color: #05AA42;
    grid-area: c;
}

.item-d {
    background-color: #01AEFD;
    grid-area: d;
}

.item-e {
    background-color: #01AEFD;
    grid-area: e;
}
.position {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

@media screen and (max-width:700px) {
    main div {
    margin-top 15px;
    }
}
